/* POPUP-ONLY STYLES */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

/* Only apply to popup - use class selector instead of body */
.popup-container {
  /* background-color: #1B1F23; */
  width: 85vw;
  padding: 4rem;
  color: white;
  font-family: "Lato";
  padding: 1rem;
  margin: 0;
}

.ext-title-card{
  text-align: left;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.commontTracker
  {
    padding: 10px;
    margin-bottom: 10px;
    /* border: 1px solid rgb(228, 90, 146);
    box-shadow: rgba(242, 107, 249, 0.65) 0px 4px 8px 0px, rgba(242, 107, 249, 0.65) 0px 6px 20px 0px; */
    border-radius: 8px;
    font-family: Lato !important;
    font-weight: 400;
    font-style: normal;
}
.commentCount{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
    color: black;
}
.commentCount .commentValue{
  font-size: 3rem;
}
.commentHist .commentValue{
  font-size: 2rem;
}
.commontTracker p{
  font-size:1.5rem;
  font-weight:500;
}
.commontTracker h3{
    font-family: "Lato" !important;
  font-weight: bold;
}
.commentDate span{
  font-size: 24px;
  color: black;
}
.Dark_DatePicker span{
  color: white;
}
.Light_DatePicker span{
  color: black;
}
.Dark_DatePicker button{
  color: white;
}
.Light_DatePicker button{
  color: black;
}
.MuiPickersSectionList-root.MuiPickersInputBase-sectionsContainer{
  width: unset !important;
  flex-grow: unset !important;
}
.MuiPickersTextField-root {
    min-width: unset !important;
}
.commentDate fieldset{
  border: none !important;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
  text-align: left;
}
