body {
    margin: 0;
    margin: 0 aut;
    background-color: #F4F2EE;
    color: #333;
}
button{
    cursor: pointer;
}

.dashboard_container nav a{
    color: black;
    text-decoration: none;
    gap: 2rem;
    padding-inline: 1.5rem;
        width: 80%;


}
.Post_template_view h3{
    margin: 0 !important;
}
.Post_template_view p{
    margin: 0 !important;
}
.dashboard_container nav h3{
    font-size: 3rem;
    margin: 0;
}
.dashboard_container nav .dashboard_link_active {
    background-color: #f66ea545;
    border-radius: 20px;
}
.Container{
      width: 100%;
      height: 50vh;
      max-width: 1200px;
      margin: 0 auto;
    }
header{
    font-family: Avenir;
    padding: 1rem;
}
.Header h3{
    font-size: 32px;
    font-weight:normal;
}
.Header button{
    font-size: 16px;
    height: max-content;
    width: max-content;
    padding: 0.5rem 1rem;
}
.Header{
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(232, 91, 147, 0.2), 0 6px 20px 0 rgba(228, 90, 146, 0.19);
}
.dashboardMain{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
}
.dashboardMain h1{
font-family: "Lato", sans-serif;
  font-weight: thin;     
  font-size: 42px;
    text-align: center;
}
.dashboardMain p{
font-family: "Lato", sans-serif;
  font-style: thin;   
    font-size: 20px;
    text-align: center;
}
.dashboardMain button{
    width: 300px;
    padding: 1rem;
}
.dashboardMain h4{
    border: solid 1px;
    width: fit-content;
    text-align: center;
    padding: 1rem;
    border-radius: 30px;
    font-style: italic;
}
.FormMain{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    padding-bottom: 4rem;
    background-color: rgb(247, 236, 241);
    height: 100vh;
    overflow: scroll;
    scrollbar-width: none;
}
.Inputform{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.Inputform label{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.Inputform textarea::placeholder{
padding: 0.2rem;
outline: none;
}
.Inputform textarea{
padding: 0.5rem;
outline: none;
}
.UploadSection .MuiInput-underline:before,
.MuiInput-underline:after {
  display: none;
}

@media (max-width: 1280px) {
  .container {
    margin: 0 24px;
  }
}